html {
    scroll-behavior: smooth;
}

body {
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    margin: 0;
    background-color: #fefefe;
}

* {
    -webkit-tap-highlight-color: transparent;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.navbar {
    background: rgba(255, 255, 255, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    backdrop-filter: blur(10px);
    color: black;
    margin-bottom: 40px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.site-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-link {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar-link:hover {
    text-decoration: underline;
    /* Adjust the hover color as needed */
}

label {
    display: block;
    margin: 10px 0;
    color: black;
    font-size: 25px;
}

input,
select,
button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: black;
    outline: none;
    transition: all 0.3s ease;
}

#qr-input {
    max-width: 500px;
    width: 500px;
    margin: 10px 10px;
    margin-top: 20px;
    height: 30px;
    font-size: 20px;
}

input:hover,
select:hover {
    border: 1px solid black;
}

.qr-type-div,
#fill-color,
#background-color,
#gradient-color,
#gradient2-color {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0 0 0;
}

#simple-config,
#radial-config {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 800px;
    margin: auto;
}

#radial-config {
    max-width: 1000px;
}

.qr-type-div select {
    margin-top: 5px;
}

.color-input {
    width: 80px;
    padding: 2px 4px;
    margin-top: 15px;
}

#text-input-text {
    font-size: 40px;
}

#generate-btn {
    background-color: black;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 60px 0 20px 0;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#generate-btn:hover {
    scale: 1.1;
}

#qr-code-master {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#qr-code {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qr-img {
    border: 1px solid black;
    border-radius: 15px;
}

#loading-spinner {
    display: none;
    margin-top: 20px;
    margin: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #000000 95%, #0000) 50% 1.1px/13.4px 13.4px no-repeat,
        radial-gradient(farthest-side, #0000 calc(100% - 15.7px), rgba(0, 0, 0, 0.1) 0);
    animation: spinner-aur408 1s infinite linear;
}

@keyframes spinner-aur408 {
    to {
        transform: rotate(1turn);
    }
}

#optional-params {
    margin: 35px auto;
}

@media screen and (max-width: 800px) {
    .site-name{
        font-size: 15px;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    label {
        font-size: 20px;
    }

    #simple-config,
    #radial-config {
        flex-direction: column;
    }

    #simple-config {
        max-width: 500px;
    }

    #radial-config {
        max-width: 800px;
    }

    #text-input-text {
        font-size: 30px;
    }

    #generate-btn {
        margin: 60px 0 20px 0;
    }

    #loading-spinner {
        margin-top: 20px;
    }

    #optional-params {
        margin: 35px auto;
    }

    .qr-type-div,
    #fill-color,
    #background-color,
    #gradient-color,
    #gradient2-color {
        gap: 20px;
    }

    #qr-input {
        width: -webkit-fill-available;
        margin-left: 30px;
        margin-right: 30px;
    }

    .color-input {
        margin-top: 10px;
    }
}